body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(47, 214, 192);
  font-size: 20px;
}

.btn {
  background: palevioletred;
  margin: 20px;
}

.add-btn {
  background: rgb(130, 245, 84);
  width: 30px;
  height: 30px;
}

.app-textbox {
  border: 2px solid #6d5555;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  outline: 0;
  height: 25px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
}

.container_body {
  padding: 70;
  text-align: "left";
  min-height: 500;
  min-width: 700;
  margin: 60px;
}
.app-title {
  text-align: center;
  color: lightcoral;
  font-size: 70px;
}
.container {
  border: 5px solid azure;
  border-radius: 25px;
}

.app-list {
  list-style-type: square;
}
